# Bazel
bazel-bin
bazel-out/
bazel-testlogs
bazel-leetcode/
.bazelrc.user
compile_commands.json

# C++ compiled artifacts
*.o
*.obj
*.a
*.la
*.lai
*.lib
*.so
*.dylib
*.dll
*.slo
*.lo
*.gch
*.pch
*.mod
*.smod
*.exe
*.out
*.app
a.out

# IDE / editor
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
